@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", serif;
}

.repo-section::-webkit-scrollbar {
  height: 4px; /* Adjust the height as needed */
    width: 4px;

}

.repo-section::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.300');
    border-radius: 50px;
    height: 4px;
}
.mobile-humb{
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}